.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet($tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @include desktop($desktop) {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1200px;
  }
}

.footer-addres-list {
  @include tablet($tablet) {
    width: 50%;
    margin-bottom: 60px;
  }

  @include desktop($desktop) {
    margin-bottom: 60px;
    width: 231px;
    margin-right: 70px;
  }
}

.footer-icon-svg {
  margin: 0;

  @include tablet($tablet) {
    width: 50%;
  }

  @include desktop($desktop) {
    width: 206px;
    margin-right: 93px;
  }
}

.footer-subscribe-to-us {
  margin-left: 0;
}

.footer {
  padding: 60px 0;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.address-list {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  @include desktop($desktop) {
    justify-content: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.footer-contacts-us {
  padding-bottom: 60px;

  @include tablet($tablet) {
    padding-bottom: 0;
  }

  @include desktop($desktop) {
    padding-bottom: 0;
  }
}

// .address-footer-link {
//   font-size: 14px;
// }

.footer {
  background-color: #2f303a;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  gap: 10px;
  padding-bottom: 60px;

  @include desktop($desktop) {
    display: flex;

    gap: 10px;
  }
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
}

.footer-icon-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;

  @include desktop($desktop) {
    justify-content: start;
  }
}

.footer-icon {
  fill: var(--white-color);
}

.footer-subscribe-icon {
  fill: var(--white-color);
  margin-left: 10px;
}
