.mobile-menu_link {
  margin-bottom: 302px;
}

.mobile-menu_contacts {
  margin-bottom: 64px;
}

.mobile-menu_social {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.mobile-menu_social-link {
  margin: calc(100% - 20px * 3) / 4;
}
