.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: #ffffff;

  border-radius: 100%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-item-icon,
  &:focus .social-item-icon {
    fill: white;
  }
}

.social-item-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
