.team {
  background: #f5f4fa;
}

.team-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  @include tablet($tablet) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.team-card__list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  // @include mobile($mobile) {
  //   width: 450px;
  //   height: 622px;
  // }

  // @include tablet($tablet) {
  //   width: 354px;
  //   height: 536px;
  // }

  // @include desktop($desktop) {
  //   width: 270px;
  //   height: 428px;
  // }
}

.team-card {
  flex-basis: 100%;
  @include tablet($tablet) {
  flex-basis: calc((100% - 30px ) / 2);
  }
  
}

.our-employees {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}
.team-text {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}

.team-icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-title {
  color: var(--title-tex-color);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;

  @include desktop($desktop) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  color: var(--title-tex-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
